<html>
    <head>
        <link href="{{STATIC_URL}}/css/styles.css" rel="stylesheet" type="text/css">
    </head>
<div id="welcome">
<h1> FSW Project Webservice</h1>
</div>
<body>
<div id="welcome">
    <ul class="style2">
       <h3>Get Endpoints:</h3>
    <li><a href="user_auth/">user_auth/</a></li>
    <li><a href="logout">logout</a></li>
    <li><a href="get_allergies/?q=1">allergies</a></li>
    <li><a href="get_diet/?q=1">diet/</a></li>
    <li><a href="get_hospitalizations/?q=1">hospitalizations/</a></li>
    <li><a href="get_medications/?q=1">medications/</a></li>
    <li><a href="get_assessments/?q=1">assessments/</a></li>
    <li><a href="get_prescriptions/?q=1">prescriptions/</a></li>
    <li><a href="get_medication_history/?q=1">medication_history/</a></li>
    <li><a href="get_emergency_contacts/?q=1">emergency_contacts/</a></li>
    <li><a href="get_notes/?q=1">notes/</a></li>
    <li><a href="get_doctors/?q=1">doctors/</a></li>
    <li><a href="get_patients/?q=*">patients/</a></li>
    </ul>
    </div>


</body>
</html>