<html>
    <head>
        <link href="{{STATIC_URL}}/css/styles.css" rel="stylesheet" type="text/css">
    </head>
<div id="welcome">
<h1> FSW Project Webservice</h1>
<img src="{{ STATIC_URL }}/images/realfusion.gif">
</div>
<body>
<div id="welcome">
    <ul class="style2">
       <h3>Get Endpoints:</h3>
    <li><a href="get_user_auth/">user_auth/</a></li>
    <li><a href="get_allergies/">allergies</a></li>
    <li><a href="get_diet/">diet/</a></li>
    <li><a href="get_hospitalizations/">hospitalizations/</a></li>
    <li><a href="get_medications/">medications/</a></li>
    <li><a href="get_assessments/">assessments/</a></li>
    <li><a href="get_prescriptions/">prescriptions/</a></li>
    <li><a href="get_medication_history/">medication_history/</a></li>
    <li><a href="get_emergency_contacts/">emergency_contacts/</a></li>
    <li><a href="get_notes/">notes/</a></li>
    <li><a href="get_doctors/">doctors/</a></li>
    <li><a href="get_patients/">patients/</a></li>
    </ul>
    </div>


</body>
</html>