<html>
    <head>
        <link href="{{STATIC_URL}}/css/styles.css" rel="stylesheet" type="text/css">
    </head>
<div id="welcome">
<h1> FSW Project Webservice</h1>
<img src="{{ STATIC_URL }}/images/realfusion.gif">
</div>
<body>
<div id="welcome">
    <ul class="style2">
       <h3>Endpoints:</h3>
    <li><a href="user_auth/">user_auth/</a></li>
    <li><a href="allergies/">allergies</a></li>
    <li><a href="diet/">diet/</a></li>
    <li><a href="hospitalizations/">hospitalizations/</a></li>
    <li><a href="medications/">medications/</a></li>
    <li><a href="assessments/">assessments/</a></li>
    <li><a href="prescriptions/">prescriptions/</a></li>
    <li><a href="medication_history/">medication_history/</a></li>
    <li><a href="emergency_contacts/">emergency_contacts/</a></li>
    <li><a href="notes/">notes/</a></li>
    <li><a href="doctors/">doctors/</a></li>
    <li><a href="patients/">patients/</a></li>
    </ul>
    </div>


</body>
</html>